@charset "utf-8";
*,
*::before,
*::after {
    margin: 0;
    padding: 0
}

a, a:link {
    text-align: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

form, fieldset {
    border: none;
}

.d-none {
    display: none;
}
